/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/*
  My CSS
*/
button {
    all: unset; /* Resets all properties to their initial state */
    background: transparent; /* Removes background */
    border: none; /* Removes border */
    padding: 0; /* Removes default padding */
    font: inherit; /* Inherit font properties from parent element */
}
.icons {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: white;
}
.icons-2 {
    display: inline;
    width: 32px;
    height: 32px;
    fill: black;
    transition: all 0.7s;
}

.icons-2:hover {
    fill: #3b82f6;
    /* transition: all 0.75s; */
    transform: rotate(360deg);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    display: flex;
    align-items: center;
}

a:hover {
    font-weight: 600;
    scale: 1.1;
    padding-left: 10px;
}

header a:hover {
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0px 10px;
    padding: 0;
}

* {
    /* border: 1px solid black; */
}

body {
    overflow-x: hidden;
    display: grid;
    min-height: 1vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 75px 80px minmax(100vh, 1fr) 50px;
}

header {
    grid-area: 1 / 2 / 2 / 3;
}

header,
#welcome {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 10px 30px;
}

header div,
#welcome h1 {
    flex: 1;
}

header ul,
#welcome ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#welcome {
    grid-area: 2 / 2 / 3 / 3;

    position: sticky;
    top: 0;
}

#welcome a {
    border: 4px solid #3b82f6;
    border-radius: 50px;
    padding: 2px 15px;
    background-color: transparent;
}

main {
    background-color: lightgray;
    grid-area: 3 / 2 / 4 / 3;
    height: 400vh;
}

aside {
    background-color: #3b82f6;
    color: white;
    grid-area: 1 / 1 / 4 / 2;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    padding-right: 5px;

    position: fixed;
    width: 250px;
    min-height: 100vh;
}

aside a {
    content: "";
}

.sidebar-dashboard {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}
.sidebar-dashboard a {
    flex: 1;
}

.sidebar-dashboard > svg {
}

.sidebar-dashboard > svg:hover {
    scale: 1.1;
}

.sidebar-pages {
    flex: 1;
}

aside > div ul {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer {
    background-color: lightgray;
    grid-area: 4 / 2 / 5 / 3;
}
