/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/*
  My CSS
*/

:root {
    --bg-color: white;
    --bg2-color : lightgray;
    --font-color: black;
    --font2-color: #1e293b;
    --primary-color: #3b82f6;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

p {
    color: var(--font2-color);
    font-size: 0.75rem;
}

button {
    all: unset; /* Resets all properties to their initial state */
    background: transparent; /* Removes background */
    border: none; /* Removes border */
    padding: 0; /* Removes default padding */
    font: inherit; /* Inherit font properties from parent element */
}
.icons {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: var(--font-color);
}
.icons-2 {
    display: inline;
    width: 32px;
    height: 32px;
    fill: var(--font-color);
    transition: all 0.7s;
}

.icons-2:hover {
    fill: var(--primary-color);
    /* transition: all 0.75s; */
    transform: rotate(360deg);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    display: flex;
    align-items: center;
}

a:hover {
    font-weight: 600;
    scale: 1.1;
    padding-left: 10px;
}

header a:hover {
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0px 10px;
    padding: 0;
}

* {
    /* border: 1px solid black; */
}

body {
    overflow-x: hidden;
    display: grid;
    min-height: 1vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 75px 80px minmax(calc(100vh - 205px), 1fr) 50px;
}

/* ***************** */
/*                   */
/*       Header      */
/*                   */
/* ***************** */

header {
    grid-area: 1 / 2 / 2 / 3;
}

header,
#welcome {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 10px 30px;
}

header div,
#welcome h1 {
    flex: 1;
}

header ul,
#welcome ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#welcome {
    grid-area: 2 / 2 / 3 / 3;

    position: sticky;
    top: 0;
    z-index: 2;
}

#welcome a {
    border: 4px solid var(--primary-color);
    border-radius: 50px;
    padding: 2px 15px;
    background-color: transparent;
}

/* ***************** */
/*                   */
/*        MAIN       */
/*                   */
/* ***************** */

main {
    background-color: var(--bg2-color);
    grid-area: 3 / 2 / 4 / 3;

    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;

    padding: 30px;
}

.container {
    /* background-color: red; */
    grid-column: 1/2;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project {
    width: 100%;
    height: 100%;
    position: relative;

    border-radius: 10px;
    border: 5px solid black;

    overflow: hidden;
    background-color: white;
    color: white;
}   

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    background-size: contain;;
    background-position: center;
    background-repeat: no-repeat;
}

.layer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    background-color: #3b83f67a;
    filter: brightness(60%);
}

.project:hover .layer {
    display: block;
}

.project:hover .bg {
    transition: all 0.4s;
    transform: scale(1.1);
}

.description {
    color: black;
    -webkit-text-stroke-width: 0.1mm;
    -webkit-text-stroke-color: white;
    position: absolute;
    width: 100%;
    top: 80%;
    left: 0;
    padding: 20px 10px 5px;
    transition: all 0.4s ease;
}

 p {
    width: 100%;
    display: -webkit-box;  /* Enables flexbox-like behavior for text */
    -webkit-line-clamp: 2;  /* Limits the text to 2 lines */
    -webkit-box-orient: vertical; /* Defines the box's orientation */
    overflow: hidden;  /* Hides the overflowed text */
    text-overflow: ellipsis;  /* Adds ellipsis at the end of the truncated text */
      
}

.description * {
    visibility: hidden;
}

.description h3 {
    visibility: visible;
}

.project:hover .description {
    -webkit-text-stroke-width: unset;
    -webkit-text-stroke-color: unset;
    top: unset;
    color: white;
    bottom: -15px;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.618) 0px -80px 36px -10px inset;
    transition: all 0.4s ease;
}

.project:hover .description *{
    visibility: visible;
}


.bg-1 {
    background-image: url('/assets/images/project-facebook.webp');
}

.board {
    grid-column: 2/3;
    color: var(--font-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.board div h3, .container > h3 {
    margin: 10px 0px;
}



.announcement {
}

.card {
    padding: 1rem 1.7rem;
    background-color: var(--bg-color);
    margin-bottom: 5px;
    border-radius: 10px;

    display: grid;
    grid-column: 1fr;
    gap: 5px;
}

.card-item {
    margin: 10px 0px;
}


.bar {
    display: block;
    position: relative;
    left: -5%;
    width: 110%;
    margin: 5px 0 10px 0;
    border-bottom: 2px solid grey;
}
.trending .card {
    padding: 1rem;
}

.card-item2 {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 2px;

    margin: 15px 0 10px;
}

.card-item2 img {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    justify-self: center;

    background-color: red;
    width: 70%;
    aspect-ratio: 1 / 1;
    padding: 5px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: contain; /
}

.card-item2 h5 {
    align-self: flex-end;
}

.card-item2 span {
    align-self: flex-start;
    font-size: 0.8rem;
}

/* ***************** */
/*                   */
/*      SIDEBAR      */
/*                   */
/* ***************** */

aside {
    background-color: var(--primary-color);
    color: var(--font-color);
    grid-area: 1 / 1 / 4 / 2;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    padding-right: 5px;

    position: fixed;
    width: 250px;
    min-height: 100vh;
}

aside a {
    content: "";
}

.sidebar-dashboard {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}
.sidebar-dashboard a {
    flex: 1;
}

.sidebar-dashboard > svg {
}

.sidebar-dashboard > svg:hover {
    scale: 1.1;
}

.sidebar-pages {
    flex: 1;
}

aside > div ul {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ***************** */
/*                   */
/*       FOOTER      */
/*                   */
/* ***************** */

footer {
    background-color: var(--bg-color);
    grid-area: 4 / 2 / 5 / 3;
}
